:root {
  --cuoreui-primary: #FF6A00;
}

.downloads-container {
  padding-top: 12px;
  width: auto;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 2px;
}

.downloads-icon
{
background-image: url("./assets/icons/downloads.svg");
background-size: cover;
background-repeat: no-repeat;
width: 16px;
height: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
      font-family: 'Montserrat';font-size: 22px;
    background-color: #fff;
    color: #000;
    background-image: 
      linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 32px 32px;
  }
  
.tryitout-iframe
{
border-radius: 7px;
box-shadow: rgba(177, 177, 177, 0.5) 0px 0px 16px;
aspect-ratio: 2;
border: none;
height: 7.5rem;
background: url("./assets/control-recreations/Cuore\ winform\ window\ graphic.png");
width: auto;
}

.taskbar-iframe
{
  background: url("./assets/control-recreations/Cuore\ winform\ window\ graphic.png");
}

  .thefreedesignsolution
  {
    color:transparent;
    background-image: url("assets/headline.svg");
    width: 100vw;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(3.5);
  }
  
  /* Header */
  .top-bar {
    position: fixed;
    width: 100vw;
    height: 96px;
    background-color: #000;
    color: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    z-index: 10;
  }

.hamburger-container
{
  position: absolute;
  width: 100vw;
  height: auto;
}

  .logo {
    height: 40px;
    margin-right: 20px;
  }
  .top-nav {
    display: flex;
    gap: 36px;
  }
  
  .top-nav {
    user-select: none !important;
  }

.top-nav * {
  user-select: none !important;
}

.nav-button * {
  user-select: none !important;
}

  .nav-button {
    pointer-events: all;
    cursor: pointer;
    font-size: 0.5em !important;
    width: auto;
    height: 32px;
    border: 1px solid rgb(255, 106, 0);
    border-radius: 15px;
    transform: scale(1.25);
    color:white;
  }

  .nav-button *
  {
    pointer-events: none;
  }

.openlink
{
  user-select: none !important;
  padding-left: 28px !important;
}

.openlink p
{
  padding-left: 12px !important;
}

  .openlink::before {
    content: "";
    position: absolute;
    width: 16px;
    aspect-ratio: 1;
    background-color: red;
    background: url("assets/icons/ic_fluent_open_24_regular.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -40%;
    margin-top: -4px;
  }

  .docs-icon::before {
    content: "";
    position: absolute;
    width: 16px;
    aspect-ratio: 1;
    background-color: red;
    background: url("assets/icons/book.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -40%;
    margin-top: -5px;
  }

  .nav-button p
  {
    margin: -4px -4px 0px -4px
  }

  .nav-button:hover {
    border: 1px solid rgb(255, 106, 0);
  }

  .nav-button:active {
    opacity: 50%;
    border: 1px solid transparent;
  }


  .nav-button.filled {
    background-color: rgb(255, 106, 0);
  }
  .nav-button.outlined {
    background-color: transparent;
  }
  
  /* Hero */
  .hero {
    overflow:hidden;
    user-select: none;
    pointer-events: none;
    height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
  }

  .notmain
  {
    height: calc(100vh);
  }

  .notmain h1 strong
  {
    color: rgb(128, 128, 255);
    text-shadow: rgba(128, 128, 255, 0.5) 0 0 0.25em;
  }

  .features, .features-container
  {
    width: 100vw;
    height: 100%;
    gap: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 24px;
  }

  .try-container {
    display: grid;
    grid-template-columns: repeat(3, 384px);
    gap: 1em;
    width: 100vw;
    padding-top: 2.5em;
    padding-bottom: 4em;
  }  
  
  @keyframes pulse {
    0% {
        opacity: 100%;
    }
    50%
    {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
  }

  .icon-row {
    width: 100vw;
    height: 40px;
    margin-top:88px;
    margin-bottom: 20px;
    background-image: url("assets/technologies.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: infinite pulse 2s;
  }

  .icon-row:before {
    content: "";
    position: absolute;
    left: 0.5px;
    width: 100vw;
    height: 40px;
    background-image: url("assets/technologies\ outline\ effect.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 50%;
  }

  .icon {
    font-size: 0px;
    padding: 24px;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 3px;
  }
  .hero h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 10px;
  }
  .hero h1 .orange {
    color: rgb(255, 106, 0);
  }
  .hero p {
    font-size: 1rem;
    margin-bottom: 30px;
    margin-top:-5px;
    color: #808080;
  }
  .cta-buttons {
    pointer-events: all;
    display: flex;
    justify-content: center;
    margin-top:-16px;
    gap: 20px;
  }

  .cta-buttons .btn{
    box-shadow: rgb(255, 255, 255) 0px 0px 10px;
  }
  .btn {
    font-size: 1rem;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.25);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .btn:hover {

        transform: scale(1.1);
        filter: brightness(1.1);
  }
  .btn:active{
    transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(1);
    filter: brightness(1);
  }
  .btn.primary {
    background-color: rgb(255, 106, 0);
    color: white;
  }
  .btn.secondary {
    background-color: #ffffff;
    color: black;
  }  
  .btn.discord {
    background-color: #5865F2;
    color: white;
  }
  .btn.discussions {
    background-color: #000000;
    color: white;
  }
  
  .section-divider {
    height: 352px;
    padding: 0;
    margin-top: 48px;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid rgba(128,128,128, 0.5);
  }

  .othersection {
    height: auto !important;
    padding-bottom: 1em;
  }

  .section-divider h2 {
    user-select: none;
    pointer-events: none;
    color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 2em;
    margin-top: -1em;
    display: inline-block;
    padding: 0px 8px 0px 8px;
    border-radius: 1rem;
    background-color: white;

    margin-bottom: 24px;
    height: 1.2em;
  }

  .section-divider p
  {
    font-size: 0.75em;
  }

  .try-p
  {
    margin-top: -2em;
    padding-bottom: 24px;
    color:rgba(128, 128, 128, 0.75);
  }

  .features-headline
  {
    background-image: url("assets/features headline.svg");
    background-size: 11em;
  }

  .try-headline
  {
    background-image: url("assets/tryitout\ headline.svg");
    background-size: 7em;
  }

  .tryitout-item p
  {
margin-bottom: 4px;
color: rgba(0, 0, 0, 0.5);
  }

  @keyframes shake {
    0%
    {
      transform: rotate(-2deg);
    }
    50%
    {
      transform: rotate(2deg);
    }
    100%
    {
      transform: rotate(-2deg);
    }
  }

  .feature-item {
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 2em;
    aspect-ratio: 1;
    flex-direction: column;
    align-items:start;
    justify-content: space-between;
    padding: 1em;
    box-sizing: border-box;
    text-align: left;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    animation: shake 5s infinite;
  }
  
  .feature-item:hover {
    border-color: var(--cuoreui-primary);
    box-shadow: rgba(255, 106, 0, 0.25) 0px 0px 2em;
  }
  
  
  .feature-item img {
    width: 100%;
    height: auto;
    margin-top: auto;
    transform: translateY(-0.1em);
  }

  .feature-item h3
  {
    font-weight: bold;
    font-size: 1.25em;
  }

  .feature-item p
  {
    font-size: 0.75em;
    width: 90%;
    color: rgba(0, 0, 0, 0.5);
  }

  .hamburger-nav
  {
    position: absolute;
    width: 32px;
    aspect-ratio: 1;
    left: calc(100vw - 72px);
    top: -18px;
    border: none;
    background: none;
    color:white;
    font-size: 24px;
    transition: all 1s cubic-bezier(0, 1.466, 0.149, 1);
  }

  .hamburger-nav-active
  {
    color: var(--cuoreui-primary);
    transform: scale(1.2);
  }

  .hamburger-navbuttons
  {
    display: none;
  }

  .hamburger-navbuttons
  {
      left:0;
      top: 48px;
      height: 100vh;
      width: calc(100vw - 2em);
      margin:0;
      padding: 0;
      position: absolute;
  }
  
  @media (orientation: portrait)
   {
    .top-nav
    {
      display: none;
    }

    .hamburger-navbuttons-active
    {
      transform: translateX(-1em);
      padding-top: 1em;
      width: calc(100vw + 2px);
      background-color: #000000ef;
      visibility: visible;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex-flow: column;
      align-items: center;
    }

    .hamburger-navbuttons a
    {
      padding: 0.5em;
    }

    .thefreedesignsolution
    {
      transform: scale(1.30) translateY(-1rem);
      background-image: url("assets/headline\ portrait.svg");
    }

    .features-container:not(.try-container)
    {
      transform: scale(0.9) translateY(-3rem);
      padding-left: calc(28rem - 200%);
      padding-top: 2rem;
      padding-right: 1rem;
      display: flex;
      overflow-x: scroll;
      scroll-behavior: smooth;
      overflow-y: hidden;
      flex-direction: row;
      justify-content: left;
    }

    .feature-item
    {
      transform: scale(0.8);
    }

    .try-container
    {
      overflow-x:hidden;
      display: grid;
    grid-template-columns: repeat(1, 384px);
    gap: 1em;
    width: 100vw;
    padding-top: 2.5em;
    padding-bottom: 4em;
    }

    .tryitout-item h3
    {
      position: absolute;
      width: 0;
      overflow:hidden;
      display:none;
    }

    .features-headline
    {
      width: 75vw;
      background-image: url("assets/features\ headline\ portrait.svg");
      background-size: 6em;
      transform: scale(1.25);
      overflow: hidden;
    }

    @media (min-width: 608px) 
    {
      .icon-row
      {
        transform: translateY(-3rem);
      }

      .thefreedesignsolution
      {
        transform: scale(3) translateY(-1rem);
      }
    }
  }